@import "flex.scss";
@import "margin.scss";
@import "nav.scss";
@import "page_blog.scss";
@import "page_about.scss";
$accentColor: rgb(15, 170, 162);

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

main {
  margin: auto;
}

header {
  width: 100vw;
  height: 80px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

footer {
  width: 100vw;
  height: 120px;
  background-color: #333;
}

nav {
  width: 100%;
  padding: 0 30px;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  padding: 0;
  margin: 0;
}

h3 {
  font-size: 20px;
  margin: 20px 0 10px;
  position: relative;
  padding: 1.3rem 0.8rem;
  &:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    content: "";
    background-image: -webkit-repeating-linear-gradient(
      135deg,
      #000,
      #000 1px,
      transparent 2px,
      transparent 5px
    );
    background-image: repeating-linear-gradient(
      -45deg,
      #000,
      #000 1px,
      transparent 2px,
      transparent 5px
    );
    background-size: 7px 7px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
}

h4 {
  margin: 0;
  font-size: 17px;
}

p {
  font-size: 16px;
  line-height: 2;
}

input {
  border: solid 1px;
  padding: 10px;
  height: 15px;
  box-shadow: none;
  border-radius: 5px;
}

textarea {
  border: solid 1px;
  padding: 10px;
  height: 100px;
  box-shadow: none;
  border-radius: 5px;
}

label {
  margin-bottom: 7px;
}

.wrapper {
  margin: 70px auto;
  width: 90vw;
  max-width: 1100px;
}
