$ratio: 25%;

.blogSub {
  width: $ratio;
  background-color: #eee;
  margin-left: 30px;
}

.blogListWrapper {
  @extend .flexRowNowrap;
  ul {
    width: 75%;
  }
}

.blogDetailWrapper {
  @extend .flexRowNowrap;
  justify-content: space-between;
}

$imgAspect: 1.8;

.blogListItem {
  @extend .flexRowNowrap;
  $height: 180px;
  margin-bottom: 35px;
  img {
    width: $height * $imgAspect;
    height: $height;
    object-fit: cover;
    margin-right: 30px;
    border-radius: 5px;
  }
  h2 {
    font-size: 22px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 15px;
  }
  h3 {
    font-size: 22px;
    line-height: 1.5;
    font-weight: 600;
    margin: 0 0 10px;
  }
}

.date {
  font-size: 16px;
  font-weight: 500;
  color: #666;
  svg {
    margin-right: 10px;
  }
}

.blogCategory {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 5px;
  padding: 3px 10px;
  border: solid 1.5px $accentColor;
  color: $accentColor;
  background-color: white;
  margin-bottom: 10px;
}

.blogDetailMain {
  width: 70%;
  img {
    width: 100%;
  }
}
.blogDetailSub {
  width: 25%;
  background-color: #ccc;
}

.contents {
  margin-top: 20px;
  h2 {
    font-size: 24px;
    font-weight: 700;
    padding: 15px;
    border-radius: 4px;
    background-color: $accentColor;
    color: white;
    margin-top: 40px;
    margin-bottom: 15px;
  }
  a {
    color: $accentColor;
    border-bottom: dotted 1px $accentColor;
  }
  h3 {
    font-size: 21px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 0 10px;
    background: linear-gradient(transparent 60%, rgb(247, 210, 2) 60%);
    display: inline-block;
  }
  img {
    margin: 0 20px;
  }
  blockquote {
    padding: 25px;
    line-height: 1.7;
    border-radius: 5px;
    margin: 15px 0;
    background-color: #ccc;
    color: #333;
  }
  ul {
    margin: 15px 0;
    padding: 15px;
    list-style-type: disc;
    background-color: rgb(245, 240, 240);
    border: solid 1px rgb(158, 156, 156);
  }
  li {
    margin-left: 15px;
    font-size: 14px;
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  span {
    border: solid 1px #ccc;
    padding: 5px;
    margin: 5px 0;
  }
  pre {
    margin: 20px 0;
    code {
      padding: 30px !important;
      color: white;
    }
  }
  code {
    color: rgb(218, 71, 120);
    padding: 0 5px;
    line-height: 1.6em;
  }
}

.hljs {
  span {
    border: none;
  }
}
