$ratio: 25%;

.blogSub {
  width: $ratio;
  background-color: #eee;
  margin-left: 30px;
}

.blogWrapper {
  @extend .flexRowNowrap;
}

$imgAspect: 1.8;

.blogItem {
  @extend .flexRowNowrap;
  $height: 180px;
  img {
    width: $height * $imgAspect;
    height: $height;
    object-fit: cover;
    margin-right: 30px;
    border-radius: 5px;
  }
  p {
    font-size: 22px;
    line-height: 1.5;
    font-weight: 600;
    margin: 0 0 10px;
  }
  button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 5px;
    padding: 3px 10px;
    border: solid 1.5px $accentColor;
    color: $accentColor;
    background-color: white;
    margin-bottom: 10px;
  }
  .date {
    font-size: 16px;
    font-weight: 500;
    color: #666;
  }
}

.date {
  svg {
    margin-right: 10px;
  }
}
