$ratio: 25%;

.blogSub {
  width: $ratio;
  background-color: #eee;
  margin-left: 30px;
}

.blogWrapper {
  @extend .flexRowNowrap;
}
.blogListItem {
  margin-bottom: 20px;
  h2 {
    font-size: 24px;
    font-weight: 700;
  }
}

$imgAspect: 1.8;

.blogItem {
  @extend .flexRowNowrap;
  $height: 180px;
  img {
    width: $height * $imgAspect;
    height: $height;
    object-fit: cover;
    margin-right: 30px;
    border-radius: 5px;
  }
  h3 {
    font-size: 22px;
    line-height: 1.5;
    font-weight: 600;
    margin: 0 0 10px;
  }
}

.date {
  font-size: 16px;
  font-weight: 500;
  color: #666;
  svg {
    margin-right: 10px;
  }
}

.blogCategory {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 5px;
  padding: 3px 10px;
  border: solid 1.5px $accentColor;
  color: $accentColor;
  background-color: white;
  margin-bottom: 10px;
}

.contents {
  margin-top: 20px;
  h2 {
    font-size: 24px;
    font-weight: 700;
    padding: 15px;
    border-radius: 4px;
    background-color: $accentColor;
    color: white;
    margin-top: 40px;
    margin-bottom: 15px;
  }
  h3 {
    font-size: 21px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 10px;
    &::before {
      content: "\f101";
      font-family: FontAwesome;
    }
  }
  blockquote {
    padding: 25px;
    border-radius: 5px;
    margin: 0 15px;
    background-color: #ccc;
    color: #333;
  }
  ul {
    padding: 15px;
    list-style-type: disc;
    background-color: rgb(245, 240, 240);
    border: solid 1px rgb(158, 156, 156);
  }
  li {
    font-size: 14px;
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
